<html>

    <head>
        <title>This is a simple ML app</title>
    </head>

    <body>
        <h1>Find out whether you will be rich or not</h1> 

        <h4> Rich is defined as a person who has net assets of over $1m in Australia.  </h4>

        <hr>

        <h3>Age:</h3>
        <input id="age">

        <h3>Annual income:</h3>
        <input id="income">

        <h3>Annual expense:</h3>
        <input id="expense">

        <h3>Total assets:</h3>
        <input id="assets">

        <h3>Total liability:</h3>
        <input id="liability">

        <br>
        <br>
        <button type="button" id="btn-predict">Predict</button>
        <br>
        <br>

        <hr>

        <h3>Our prediction</h3>

        <h1 id="prediction-output"></h1>

        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="../static/js/predict.js"></script>

    </body>

</html>